*{
    margin: 0;
    padding: 0;
}
/*index*/
header{
    position: sticky;
    top: 0px;
}
header .title{
    background-color: #ffe4c4;
    color: rgb(92, 92, 92);
    text-align: center;
    height: 100px;
}
header h2{
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    text-decoration: none;
}
header a{
    text-decoration: none;
}
.intro{
    margin: 10px 300px 0px 300px;
    display: block;
}
.intro h3{
    font-family: Arial, Helvetica, sans-serif;
}
.intro p{
    text-align: justify;
    font-size: 15px;
    margin: 5px 0px;
}
.types{
    margin: 20px 300px 20px 300px;
    display: flex;
    justify-content: space-between;
}
.details{
    display: block;
    margin-right: 20px;
    border: 1px solid peachpuff;
    border-radius: 4px;
    background-color: rgba(255, 139, 124, 0.226);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-width: 360px;
    min-height: 250px;
}
.details h4{
    text-align: center;
    margin-top: 3px;
}
.details p{
    text-align: justify;
    font-size: 14px;
    margin: 10px 7px;
}
.details .btn{
    text-align: center;
    margin-top: auto;
}
.details .btn button{
    padding: 3px 4px;
    border-radius: 4px;
    outline: none;
    border: none;
    box-shadow:2px 3px rgba(109, 109, 109, 0.521);
    cursor: pointer;
    height: 40px;
    width: 100px;
}
#bubble_sort{
    margin-top: 100px;
}
#selection_sort{
    margin-top: 70px;
}
#radix_sort{
    margin-top: 100px;
}
#quick_sort{
    margin-top: 70px;
}
button:active{
    transform:translateY(1px);
}
.details .btn button:hover{
    background-color: rgba(248, 115, 62, 0.658);
    color:white;
}
.details .btn button a{
text-decoration: none;
}
/*footer*/
footer{
    background-color:#ffe4c4 ;
    height: 100px;
    display: flex;
    /* position: sticky; */
    /* bottom: 0px; */
}
footer .list{
    margin:10px 200px 10px 300px;
    color: rgb(48, 48, 48);
}
footer .list a{
    text-decoration: none;
    color: rgb(92, 92, 92);
    display: block;
}
footer .about{
    margin:10px 300px 10px 200px;
}
footer .about h5{
    color: rgb(48, 48, 48);
} 
footer .about li{
    text-decoration: none;
    color: rgb(92, 92, 92);
    display: block;
}
/**/
.array-container {
    display: flex;
    align-items: flex-end;
    margin: 10px;
    width: 1000%;
    max-width: 1000px;
    height: 200px;
}
.number {
    margin: 5px;
    padding: 10px 10px 10px 10px;
    background-color: #A09BE7;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    cursor: pointer;
}
.number.sorted {
    background-color:#fcaf8c;
    ;
}
.box{
    margin: 20px 0px 0px 300px;
    display: flex;
    justify-content: space-between;
}
.box .algorithm{
    max-width: 400px;
    border: 1px solid #A09BE7;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.637);
    background-color: #a09be754;
}
.complexity{
    margin: 0px 300px 0px 0px;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    /* border: 1px solid rgba(0, 0, 0, 0.527);
    border-radius: 4px; */
    padding: 20px;
    /* box-shadow: 0 0 5px rgba(128, 128, 128, 0.637); */
    min-height: 300px;
}
.visual {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #dbdbdb54;
    padding: 20px;
    margin-top: 20px;
}
.visual-display {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.visual-display input[type="number"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.visual-display input[type="text"]{
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.visual-display .controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.visual-display .controls button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f3c198;
    color: #5e0000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.visual-display .controls button:hover {
    background-color: #5e0000;
    color: rgb(224, 224, 224);
}

.visual .container {
    margin-top: 0px;
    background-color: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
}
th, td {
    padding: 12px;
    border: 1px solid #999999;
}
th {
    background-color: #a09be76b;
    color: #333;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
td {
    text-align:center;
}
.final {
    background-color: green;
    color: white;
}
.swapping {
    background-color: orange;
    transform: scale(1.2);
}

.checking {
    background-color: yellow;
    transform: scale(1.1);
    transition: background-color 0.3s, transform 0.3s;
}

.min {
    background-color: orange;
    transform: scale(1.2);
    transition: background-color 0.3s, transform 0.3s;
}

.selected {
    background-color: pink;
    transition: background-color 0.3s ease-in-out;
}

.sorted {
    background-color: green !important;
    color: white;
    transition: background-color 0.5s ease-in-out;
}
#selected{
    padding: 10px;
    background-color: pink;
    width: 60px;
    border-radius: 6px;
}
#minimum{
    padding: 10px;
    background-color: orange;
    width: 60px;
    border-radius: 6px;
    margin-left:10px;
}
.select{
    display: flex;
}
.lsb {
    background-color: pink;
    font-weight: bold;
    transition: background-color 0.3s, font-weight 0.3s;
}

